footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    line-height: 45px; /* Vertically center the text there */
}

main {
    margin-top: 56px;
}

.pointer {
    cursor: pointer;
}

.table-centered td, th{
    vertical-align: middle;
    text-align: center;
}