<div class="input-group my-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon">Поиск</span>
    </div>
    <input id="product-search" type="text" class="form-control" placeholder="Начните вводить для поиска..." aria-describedby="basic-addon">
</div>
<div id="product-list" class="table-responsive"></div>

@section Scripts {
<script>
    $(document).ready(function () {
        var searchTimer;

        function search(value) {
            $.ajax({
                method: 'GET',
                url: '@Url.Action("_ProductList", "Products", new { area = "Admin" })',
                data: { search: value },
                success: function (html) {
                    $('#product-list').html(html);
                }
            });
        }
        search();

        $('.product-row').click(function () {
            var id = $(this).data('product-id');
            window.location.replace('@Url.Action("Index", "Products", new { area = "Admin" })?id=' + id);
        });
        $('#product-search').on('keyup', function () {
            var value = $('#product-search').val();
            clearTimeout(searchTimer);
            searchTimer = setTimeout(function () {
                search(value);
            }, 500);
        });
    });
</script>
}